body {
  text-align: center;
  background: black;
  color: green;
  font-size: 20px;
}
a:link,
a:visited {
  text-decoration: none;
  color: green;
}
a:hover,
a:active {
  text-decoration: none;
  color: red;
  cursor: pointer;
}
#board {
  border: 3px solid green;
}
button {
  background: black;
  border: 2px solid green;
  border-radius: 4px;
  color: green;
  font-size: 20px;
}
input {
  background: black;
  border: 1px solid green;
  border-radius: 4px;
  color: green;
}
input:focus {
  outline: none;
  border: 2px solid green;
}
